[submodule "apps/shadcn-chatbot-kit"]
	path = apps/shadcn-chatbot-kit
	url = https://github.com/Blazity/shadcn-chatbot-kit.git
[submodule "vendor/PraisonAI"]
	path = vendor/PraisonAI
	url = https://github.com/MervinPraison/PraisonAI
[submodule "vendor/langroid"]
	path = vendor/langroid
	url = https://github.com/langroid/langroid
