name: Cleanup Merged Branches
on:
  pull_request:
    types: [closed]
permissions:
  contents: write
jobs:
  delete-branch:
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref != 'main'
    runs-on: ubuntu-latest
    steps:
      - name: Delete head branch
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          REF:  ${{ github.event.pull_request.head.ref }}
        run: gh api -X DELETE "repos/$REPO/git/refs/heads/$REF" || true
